/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/* * {
    border: 1px solid black !important;
} */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:white;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:white;
    color:#000;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* CODE STARTS HERE --- CODE STARTS HERE --- CODE STARTS HERE --- CODE STARTS HERE */

/* SECTIONS */
html, body {
    width: 100%;
    margin: 0px;
    border: 0px;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

div {
    width: 100%;
}

header {
    background-color: #7e3a97;
    background-image: none;
    background-size: cover;
    background-position: center right;
    position: relative;
    height: 1050px;
	width: 100%;
}

header img {
    width: 600px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1))
            drop-shadow(15px 15px 15px rgba(0,0,0,0.05));
    position: absolute;
    top: 450px;
    right: 50px;
}

nav {
    width: 100%;
    margin: 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-end;
} 

.section-nav {
    padding: 0px;
    margin: 0px 30px;
    text-align: center;
}

nav a {
    font-size: 1rem; 
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
}
nav a:hover {
    text-decoration: underline;
}

.T1 {
    z-index: 3;
    margin: 0px;
    padding: 0px;
    height: 300px;
}

.T1 h1 {
    color: white;
    font-size: clamp(5rem, 15vw, 9rem); 
    font-weight: 500;
    line-height: inherit;
    padding: 40px;
    letter-spacing: -0.5px;
}

section {
    padding: 0px;
    margin: 0px;
}

.intro {
    margin-bottom: 100px;
    padding: 0px;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.intro p {
    margin-top: 300px;
    margin-left: 50px;
    padding: 0px;
    font-size: 30px;
    line-height: 1.15;
    font-weight: 400;
    color:gray;
    z-index: 4;
    max-width: 80%;
    align-self: baseline;
    text-align: center;
}

/* SPAN STYLES START */

.chunk:hover .b {color: black;}
.b:hover {color: black;}
.chunk:hover .n {color: #9F52BB;}
.chunk:hover .m {color: #55B979;}
.chunk:hover .f {color: #E78A1B;}
.chunk:hover .p {color: #E3654D;}
.chunk:hover .l {
    color: black;
    font-weight: 200;}

/* SPAN STYLES END */
.container {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 80px 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper {
    width: 40%;
    max-width: 600px;
    min-width: 20px;
    margin: 0px 50px;
   }
/* BUTTONS START */
.buttons {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.buttons p {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    display: none;
}

.buttons section {
    display: block;
    justify-content: center;
}
.buttons button {
    margin: 0px 10px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}
#maskulin:hover {
    background-color: #55B979;
    border-color: #55B979;
}

#neutral:hover {
    background-color: #9F52BB;
    border-color: #9F52BB;
}

#feminin:hover {
    background-color: #E78A1B;
    border-color: #E78A1B;
}

#plural:hover {
    background-color: #F75247;
    border-color: #F75247;
}

/* BUTTONS END */

.verbs {
    margin: auto;
    width: clamp(300px, 35vw, 400px);
    display: flex;
    justify-content: center;
}

.verbs button {
    border: white;
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 0px 10px;
    cursor: pointer;
}
.verbs img {
    height: 30px;
    width: 30px;
    margin: 0px;
}

.carrosel {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}
.carrosel-frame {
    width: clamp(150px, 16vw, 200px);
    height: clamp(150px, 16vw, 200px);
    margin: 20px;
    background-color: #fafafa;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.2))
            drop-shadow(5px 5px 5px rgba(0,0,0,0.05))
            drop-shadow(10px 10px 10px rgba(0,0,0,0.05));
}
.carrosel-frame img {
    width: 50%;
    display: flex;
    align-self: center;
}
.container-aktuelles {
    background-color: #9F52BB;
    width: 100%;
    color: white;
    display: block;
    align-content: center;
    padding-block: 180px;
}

.container-aktuelles a {
    color: white;
    text-decoration: none;
}

.container-aktuelles a:hover {
    text-decoration: underline;
}

.title-aktuelles {
    margin-left: 30px;
}
.news {
    text-align: left;
    position: relative;
    left: 30vw;
    width: 65%;
    max-width: 800px;
    flex-wrap: wrap;
}

.news h1 {
    padding-top: 80px;
    letter-spacing: -0,3px;
    filter: opacity(10%);
    font-weight: 500;
    font-size: 15vw;
}
.news p {
    padding-bottom: 50px;
    padding-top: 0px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.button {
    padding: 0px 0px 100px 0px;
}
.PDFdownload {
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 12px;
}
.PDFdownload:hover {
    background-color: white;
    color: #9F52BB;
    text-decoration: none;
}

.container-hintergrund {
    background-color: #FE9124;
    color: white;
    display: block;
    padding-block: 180px;
}
.title-hintergrund {
    margin-left: 30px;
    width: 230px;
}
.autorin {
    margin-top: 80px;
}
.beteiligte {
    margin-top: 50px;
}
.beteiligte p {
    padding-bottom: 20px;
    font-weight: 200;
}
.container-kontakt {
    background-color:#F75247;
    color: white;
    display: block;
    width: 100%;
    padding-block: 180px;
}
.title-kontakt {
    margin-left: 30px;
    width: 230px;
}
.kontakt {
    margin-top: 150px;
    text-align: left;
    position: relative;
    left: 30vw;
    width: 60%;
    min-width: 200px;
}
.kontakt section {
    margin-bottom: 80px;
}

.kontakt a {
    color: white;
    text-decoration: none;
}
.forderung {
    height: 50px;
    color: #aaa9a9b0;
    width: 100%;
}
.forderung p {
    font-size: 0.8rem;
    margin-left: 30px;
}

.container-nine {
    width: 100%;
    display: flex;
    justify-items: left;
    padding-bottom: 20px;
    flex-wrap: wrap;
    height: fit-content;
}

.container-nine a {
    margin: auto;
    max-height: 70px;
    flex-wrap: wrap;
}
.container-nine img {
    margin: auto;
    margin-left: 30px;
    max-height: 70px;
    flex-wrap: wrap;
}

/* TYPE */
h1 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 5px;
    margin: 0px;
    letter-spacing: 0.3pt;
}

h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 0px;
    margin: 0px;
    letter-spacing: 0.3pt;
}
h4 {
    font-size: 24px;
    line-height: inherit;
    font-weight: 200;
    padding-bottom: 20px;
    padding-top: 50px;
    margin: 0px;
    letter-spacing: 0.9pt;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    letter-spacing: 0.3pt;
}
/* OBJECTS */
.frame {
    background-color: #fafafaee;
    margin: 20px;
    width: clamp(300px, 35vw, 400px);
    height: clamp(300px, 35vw, 400px);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.2))
            drop-shadow(5px 5px 5px rgba(0,0,0,0.05))
            drop-shadow(10px 10px 10px rgba(0,0,0,0.05));
}
.frame img {
    width: 90%;
    margin: auto;

}
/* RESPONSIVE */

@media only screen and (max-width: 740px) {
    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0px;
    }
    
    .intro p { 
        margin-left: 0; 
}

    .wrapper {
        width: 80%;
        text-align: center!important;
        margin: 30px 0px;
    }

    .carrosel { width: 70%;}

    .frame { width: 60vw; height: 60vw; }

    .news, .kontakt {
        left: 30px;
        width: 85%;
    }

}

@media only screen and (max-width: 600px) {
    header {
        height: 900px;
    }
    
    nav {
        justify-content: center;
    }

    .T1 h1 {
        text-align: center;
        padding: 40px 0px;
    }

    header img {
        top: 400px;
        width: 500px;
    }

    .intro p {
        margin-top: 200px;
    }

    .container {
        padding: 0px;
        margin: 100px 0px;
    }

    .container-nine a {
        width: 50%;
        margin: 0px;
        padding: 10px 0px 0px 0px;
    }

    .container-nine img {
        display: block;
        align-self: center;
        height: fit-content;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 700px;
    }
    header img {
        top: 350px;
        width: 350px;
    }

    .intro p {
        margin-top: 200px;
    }

    .carrosel {
        width: 80%;
    }
}