/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/* * {
    border: 1px solid black !important;
} */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:white;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:white;
    color:#000;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* CODE STARTS HERE --- CODE STARTS HERE --- CODE STARTS HERE --- CODE STARTS HERE */

/* SECTIONS */
html, body {
    width: 100%;
    margin: 0px;
    border: 0px;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

div {
    width: 100%;
}

header {
    background-color: #9141ad;
    background-image: none;
    background-size: cover;
    background-position: center right;
    position: relative;
    height: 1050px;
	width: 100%;
}

header img {
    width: 600px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1))
            drop-shadow(15px 15px 15px rgba(0,0,0,0.05));
    position: absolute;
    top: 450px;
    right: 50px;
}

nav {
    width: 100%;
    margin: 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-end;
} 

.section-nav {
    padding: 0px;
    margin: 0px 30px;
    text-align: center;
    color: white;
}

nav a {
    font-size: 1rem; 
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
}
nav a:hover {
    text-decoration: underline;
}

#EN #PT {
    font-weight: 500;
    font-size: 14px;
}

.T1 {
    z-index: 3;
    margin: 0px;
    padding: 0px;
    height: 300px;
}

.T1 h1 {
    color: white;
    font-size: clamp(5rem, 15vw, 9rem); 
    font-weight: 500;
    line-height: inherit;
    padding: 40px;
    letter-spacing: -0.5px;
}

section {
    padding: 0px;
    margin: 0px;
}

.intro {
    margin-bottom: 100px;
    padding: 0px;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.intro p {
    margin-top: 400px;
    padding: 0px;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 400;
    color:gray;
    z-index: 4;
    max-width: 70%;
    align-self: baseline;
    text-align: center;
}

/* SPAN STYLES START */

.chunk:hover .b, .chunk:active .b, .chunk:focus .b {color: black;}
.b:hover, .b:active,  .b:focus {color: black;}
.chunk:hover .n, .chunk:active .n, .chunk:focus .n {color: #9F52BB;}
.chunk:hover .m, .chunk:active .m, .chunk:focus .m {color: #55B979;}
.chunk:hover .f, .chunk:active .f, .chunk:focus .f {color: #E78A1B;}
.chunk:hover .p, .chunk:active .p, .chunk:focus .p {color: #E3654D;}
.chunk:hover .l, .chunk:active .l, .chunk:focus .l {color: black; font-weight: 200;}

/* SPAN STYLES END */
.container {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 80px 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper {
    width: 40%;
    max-width: 410px;
    min-width: 20px;
    margin: 0px 50px;
   }
/* BUTTONS START */
.buttons {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.buttons p, .verbs p {
    font-size: 11px;
    text-align: center;
    color: white;
    padding: 10px 0px 0px 0px;
}

.buttons section {
    display: block;
    justify-items: center;
    margin: 0px;
    width: 50px;
}
.buttons button {
    background-color: #f0f0f0;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

.maskulin:hover p, .maskulin:active p, .maskulin:focus p {color: gray;}
.maskulin:hover #maskulin, .maskulin:active #maskulin, .maskulin:focus #maskulin {background-color: #55B979; border-color: #55B979;}
.neutral:hover p, .neutral:active p, .neutral:focus p {color: gray;}
.neutral:hover #neutral, .neutral:active #neutral, .neutral:focus #neutral {background-color: #9F52BB; border-color: #9F52BB;}
.feminin:hover p, .feminin:active p, .feminin:focus p {color: gray;}
.feminin:hover #feminin, .feminin:active #feminin, .feminin:focus #feminin {background-color: #E78A1B; border-color: #E78A1B;}

.verbs {
    margin: auto;
    width: clamp(300px, 35vw, 400px);
    display: flex;
    justify-content: center;
}

.verbs button {
    border: white;
    padding: 0px;
    background-color: white;
    height: 30px;
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    cursor: pointer; }

.verbs img {
    height: 30px;
    width: 30px;
    margin: 0px;
}

.reg:hover p, .reg:active p, .reg:focus p {color: gray;}
.unreg:hover p, .unreg:active p, .unreg:focus p {color: gray;}

.carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrosel-frame {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: clamp(150px, 16vw, 200px);
    height: clamp(150px, 16vw, 200px);
    margin: 20px;
    background-color: #fafafa;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.2))
            drop-shadow(5px 5px 5px rgba(0,0,0,0.05))
            drop-shadow(10px 10px 10px rgba(0,0,0,0.05));
}
.carrosel-frame img {
    width: 100%;
    display: flex;
    position: center;
}

#wortart:hover, #wortart:active, #wortart:focus { content: url(../images/Substantiv2.gif);}
#deklination:hover, #deklination:active, #deklination:focus { content: url(../images/Nominativ2.gif);}
#steigerung:hover, #steigerung:active, #steigerung:focus { content: url(../images/Steigerung2.gif);}
#konjugation:hover, #konjugation:active, #konjugation:focus { content: url(../images/Konjugation2.gif);}

.container-aktuelles {
    background-color: #9141ad;
    width: 100%;
    color: white;
    display: block;
    align-content: center;
    padding-block: 180px;
		margin-top: -5px;
}

.container-aktuelles a {
    color: white;
    text-decoration: none;
}

.container-aktuelles a:hover {
    text-decoration: underline;
}

.title-aktuelles {
    margin-left: 30px;
}
.news {
    text-align: left;
    position: relative;
    left: 30vw;
    width: 65%;
    max-width: 700px;
    flex-wrap: wrap;
}

.news a {
    font-weight: 300;
    font-size: 90%;
}

.container4 {
    margin: 100px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    padding: 0px;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    background-color: #fcfafa;
}

.exemplare {
    width: 50%;
    max-width: 70%;
    min-width: 400px;
    margin: 0px;
    padding: 0px;
    height: 400px; 
    justify-self: left;
    background-image: url(/images/05.jpg);   
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.wrapper4 {
    width: 40%;
    max-width: 550px;
    margin: 0px 50px;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-top: 50px;
   }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #9F52BB;
    width: fit-content;
    max-width: 580px;
    height: fit-content;
    z-index: 10;
    padding: 0px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.newsletter {
    border: 1px solid #E78A1B;
    background-color: #E78A1B;
    border-radius: 30px;
    padding: 12px 25px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    margin-bottom: 70px;
    margin-top: 30px;
}

.newsletter:hover {
    background-color: #E3654D;
    border: 1px solid #E3654D;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.preise {
    display: block;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
}
.award {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    margin: 0px 0px;
}

.desc1 {
    width: 60vw;
    background-color: #55B979;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.desc2 {
    justify-content: right;
    text-align: right;
    width: 60vw;
    background-color: #55B979;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.desc1 a, .desc2 a {
    text-decoration: none;
    color: black;
}

.desc1 a:hover, .desc2 a:hover {
    text-decoration: underline;
    color: black;
}

.desc1 p, .desc2 p {
    margin: 10px 0px;
    padding: 0px;
    font-size: 1rem;
    color: white;
    flex-wrap: wrap;
}

.desc1 h3, .desc2 h3 {
    font-weight: 600;
    font-size: 2rem;
    padding: 0px;
    flex-wrap: wrap;
}
.signte {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 40vw;
    background-color: white;
}

.GDA22 {
    background-image: url(../images/GDA2022.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 10px;
}
.DPBB21 {
    background-image: url(../images/DPBB21.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 10px;
}

.close-button {
    position: absolute;
    display: flex;
    cursor: pointer;
    padding: 0px;
    margin: 10px 20px;
    background-color: #9F52BB;
    border: none;
    color: white;
    font-size: 30px;
}
.news h1 {
    padding-top: 80px;
    padding-bottom: 0px;
    letter-spacing: -0,3px;
    filter: opacity(30%);
    font-weight: 500;
    font-size: 60px;
}

.news h4 {
    padding-top: 20px;
}
.news p {
    padding-bottom: 50px;
    padding-top: 0px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.button {
    padding: 15px 0px 100px 0px;
}
.PDFdownload {
    border: 1px solid #E78A1B;
    background-color: #E78A1B;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
}
.PDFdownload:hover {
    background-color: #55B979;
    border: 1px solid #55B979;
    color: white;
    text-decoration: none;
}

.container-hintergrund {
    background-color: #E78A1B;
    color: white;
    display: block;
    padding-block: 180px;
}
.title-hintergrund {
    margin-left: 30px;
    width: 230px;
}
.container-kontakt {
    background-color:#f34545;
    color: white;
    display: block;
    width: 100%;
    padding-block: 180px;
}
.kontakt-grid {
    display: inline-flex;
    margin: 100px 30px 0px 30px;
    align-content: center;
    justify-content: left;
    width: 100%;
    padding: 0px;;
}

.kontakt h3 {
    max-width: 450px;
    margin-bottom: 50px;
}
.title-kontakt {
    margin-left: 30px;
    width: 230px;
}
.kontakt {
    margin-right: 100px;
    text-align: left;
    width: 30%;
    min-width: 500px;
    height: fit-content;
}

.kontakt p {
    margin: 0px;
    padding: 10px 0px;
}

.kontakt a {
    color: white;
    text-decoration: none;
}

.feed {
    width: 100%;
    max-width: 620px;
    min-width: 460px;
    display: flex;
    margin: 0px 30px;
    height: 470px;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.feed img {
    width: 150px;
    margin: 2px;
    padding: 0px;
}

.forderung {
    height: 50px;
    color: #aaa9a9b0;
    width: 100%;
}
.forderung p {
    font-size: 0.8rem;
    margin-left: 30px;
}

.container-nine {
    width: 100%;
    display: flex;
    justify-items: left;
    padding-bottom: 20px;
    flex-wrap: wrap;
    height: fit-content;
}

.container-nine a {
    margin: auto;
    max-height: 70px;
    flex-wrap: wrap;
}
.container-nine img {
    margin: auto;
    margin-left: 30px;
    max-height: 70px;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0px 20px 0px;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.footer a {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}

.impressum-nav {
    text-align: right;
    color: white;
    padding: 50px 30px 50px 30px;
}
.impressum-nav a {
    color: white;
    text-decoration: none;
}

.impressum-nav a:hover {
    text-decoration: underline;
}

.impressum {
    color: white;
    padding-left: 60px;
    background-color: #9141ad;
    height: fit-content;
}

.impressum p {
    line-height: 1.5;
    font-size: 1rem;
    width: 80%;
}

.impressum a {
    color: white;
    text-decoration: underline;
}

.impressum h4 {
    padding-bottom: 5px;
}
/* TYPE */
h1 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 5px;
    margin: 0px;
    letter-spacing: 0.3pt;
}

h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 400;
    padding-bottom: 0px;
    margin: 0px;
    letter-spacing: 0.2pt;
}
h4 {
    font-size: 24px;
    line-height: inherit;
    font-weight: 200;
    padding-bottom: 20px;
    padding-top: 50px;
    margin: 0px;
    letter-spacing: 0.9pt;
}

p {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    letter-spacing: 0.3pt;
}
/* OBJECTS */
.frame {
    background-color: #fafafaee;
    margin: 20px;
    width: clamp(300px, 35vw, 380px);
    height: clamp(300px, 35vw, 380px);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.2))
            drop-shadow(5px 5px 5px rgba(0,0,0,0.05))
            drop-shadow(10px 10px 10px rgba(0,0,0,0.05));
}
.frame img {
    width: 90%;
    display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0px;
}
/* RESPONSIVE */

@media only screen and (max-width: 1000px) {

.exemplare {
    width: 45%;
}
.wrapper4 {
    width: 40%;
    margin: 0px;
    margin-left: 5%;
    justify-content: center;
}
.kontakt-grid {
    display: block;
    text-align: left;
    position: relative;
    left: 27vw;
    width: 65%;
    max-width: 700px;
    flex-wrap: wrap;
    }

    .feed {
        margin: 0px;
        margin-top: 50px;
        max-width: 650px;
    }
}

@media only screen and (max-width: 800px) {
.container4 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}
    .exemplare {
        width: 300px;
        height: 300px;
        margin: 80px 0px 0px 0px;
        min-width: none;
        justify-self: center;
        border: 2px solid #fcfafa;
        border-radius: 5%;
    }

    .wrapper4 {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .carrosel-frame {
        height: 200px;
        width: 200px;
    }

    .three {
        text-align: center;
        margin-top: 50px;
        width: 90%;
    }
}

@media only screen and (max-width: 740px) {
    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0px;
    }
    
    .intro p { 
        margin-left: 0; 
}

    .wrapper {
        width: 80%;
        text-align: center!important;
        margin: 30px 0px;
    }

    .carrosel { 
        margin-left: auto;
        margin-right: auto;
    }

    .carrosel-frame {
        height: 200px;
        width: 200px;
    }

    .frame { width: 60vw; height: 60vw; }

    .news {
        left: 30px;
        width: 85%;
    }

    .kontakt-grid {
        left: 0px;
        margin: 100px 0px 0px 30px;
    }

    .feed {
        height: 450px;
        width: 90vw;
    }

    .feed img {
        width: 140px;
        margin: 0.5vw;
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 900px;
    }
    
    nav {
        justify-content: center;
    }

    .T1 h1 {
        text-align: center;
        padding: 40px 0px;
    }

    header img {
        top: 400px;
        width: 500px;
    }

    .intro p {
        margin-top: 200px;
		    font-size: 24px;
				max-width: 88%;
    }
		
    .container {
        padding: 0px;
        margin: 100px 0px;
    }

    .container-nine a {
        width: 50%;
        margin: 0px;
        padding: 10px 0px 0px 0px;
    }

    .container-nine img {
        display: block;
        align-self: center;
        height: fit-content;
    }
}
@media only screen and (max-width: 515px) {
        .kontakt h3 {
            font-size: 22px;
            width: 80vw;
            flex-wrap: wrap;
        }

}
@media only screen and (max-width: 500px) {
    nav {
        padding: 20px 0px;
    }
    .section-nav {
        margin: 0px auto;
    }
    nav a {
        font-size: 0.7rem;
    }
    header {
        height: 700px;
    }
    header img {
        top: 350px;
        width: 350px;
    }

    .intro p {
        margin-top: 200px;
    }

    .carrosel {
        margin-left: auto;
        margin-right: auto;
    }

    .carrosel-frame {
        width: 150px;
        height: 150px;
    }

    .container-kontakt {
        padding: 180px 0px 50px 0px;
    }

    .feed {
        height: 350px;
        width: 320px;
    }

    #instafeed-container {
        width: 90vw;
    }

    .feed img {
        width: 110px;
        margin: 0.5vw;
    }

    #T1PT {
        font-size: 65px;
    }

    .desc1, .desc2 {
        width: 50vw;
        padding: 0px 20px;
    }

    .desc1 h3, .desc2 h3 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .signte {
        width: 40vw;
        min-width: 180px;
    }
  

    @media only screen and (max-width: 400px) {

        nav {
            padding: 20px 0px;
        }
        .section-nav {
            margin: 0px auto;
        }
        nav a {
            font-size: 0.7rem;
        }

        .T1 {
            height: 200px;
        }

        .T1 h1 {
            font-size: 50px;
            line-height: 1.15;
            letter-spacing: 1px;
        }

        #T1PT {
            font-size: 50px;
            line-height: 1.15;
            letter-spacing: 1px;
        }

        header {
            height: 530px;
        }

        header img {
            top: 250px;
            width: 280px;
        }

        .intro {
            margin-bottom: 50px;
        }

        .intro p {
            margin-top: 150px;
            font-size: 20px;
        }

        .carrosel-frame {
            width: 100px;
            height: 100px;
            margin: 15px;
        }

        .wrapper p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
        }

        .exemplare {
            border: none;
            border-radius: 0px;
        }

        .wrapper4 h2 {
            font-size: 24px;
        }

        .wrapper4 p {
            font-size: 16px;
        }

        .news {
            width: 75%;
        }

        .news h2 {
            font-size: 24px;
        }
        .news p {
            font-size: 16px;
        }
        .title-aktuelles, .title-hintergrund, .title-kontakt h1 {
            font-size: 36px;
        }

        .desc1, .desc2 {
            width: 60vw;
            padding: 0px 20px;
        }

        .desc1 h3, .desc2 h3 {
            font-size: 1.2rem;
        }

        .desc1 p, .desc2 p {
            font-size: 0.8rem;
        }
    
        .signte {
            width: 30vw;
            min-width: 5px;
            min-width: 100px;
        }

        .kontakt {
            margin-top: 80px;
        }

        .kontakt p {
            font-size: 14px;
        }

        .kontakt-grid {
            width: 90%;
        }
    
        .feed {
            height: 290px;
            width: 320px;
        }
    
        .feed img {
            width: 90px;
            margin: 0.5vw;
        }

        .container-nine img {
            width: 60%;
        }
    }
}